:root {

    --hover-background: #868686;
    --hover-mouse: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33%);
    grid-gap: 10px;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}


.grid-container > div {
    background-color: #a8a8a8;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content-picker {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
}

.content-picker ul li:hover {
    background-color: var(--hover-background);
    cursor: var(--hover-mouse);
}

.content-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.add-new-btn {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.table {
    width: 100%;
    text-align: left;
    padding: 10px;
}

.row {
    padding: 5px;
}

.row:hover {
    background-color: var(--hover-background);
    cursor: var(--hover-mouse);}



.add-new-btn-span:hover {
    cursor: var(--hover-mouse);
    background-color: var(--hover-background);
}

.fa-check {
    color: green;
}

.fa-times {
    color: #980000;
}
